*{
	
	text-decoration-color: Black;
}
.header{
	border:1px solid black;
	background-color: lavenderblush;
	display:flex;
	padding:7px;
}
#ABOUT{
	display: flex;
	text-align: center;
	justify-content: center;
}
#info{
	display: flex;
	text-align: center;
	justify-content: center;
}
#projects{
	justify-content: center;
	text-align: center;
}
#pics{
	display: flex;
	justify-content: center;
	padding: 10px;
	gap: 10px;
}
.nav{
	text-decoration: none;
	margin-left: 750px;
	display: flex;
	list-style-type: none;
	font-size: 15px;
	background-color: lavenderblush;
}
a{
	padding-left: 15px;
}
a:hover{
	color:black;
}
.form{
	border:1px solid black;
	padding: 10px;
	align-items: center;
	align-content: center;
	background-color: lavenderblush;
	width: 180px;
	height: 300px;
	justify-content: center;
}
#button{
	border:1px solid black;
	padding:2px;
}
#button:hover{
	color:lightpink;
	background-color: white;
}
input{
	padding:  5px;
}
.footer{
	border:1px solid black;
	padding:2px;
	background-color: lavenderblush;
}
#contactMe{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	padding-inline:5px;

}